.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex !important;
    box-sizing: border-box !important;
    padding: 0 16px!important;
    width: 100% !important;
    flex-direction: row !important;
    align-items: center !important;
    white-space: nowrap !important;
    justify-content: space-between !important;
}

.container-right {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    right: -11px;

}

.container-users {
    display: flex;
    flex-direction: row
}